<div class="container">

  <div class="container">
    <div class="text-justify">
      <span class="my-title-h1 text-black"><%=t('client_area')%></span>
    </div>
  </div><!-- /.container -->


<div class="col-sm-3 col-sm-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="sidebar_new_order"><%= link_to t('new_order'), order_new_path %></li>
    <li class="sidebar_view_order"><%= link_to t('show_orders'), order_index_path %></li>
  </ul>
</div>

</div>




