<div class="container">

<h1>Ãrea do Cliente</h1>

<div class="col-sm-3 col-sm-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="sidebar_new_order"><%= link_to "Colocar Nova Encomenda", order_new_path %></li>
  </ul>
</div>

</div>




