<div class="container">

<h1>Client Area</h1>

<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="sidebar_order_history"><%= link_to "Histórico de Encomendas", "#" %></li>

    <li class="sidebar_order_status"><%= link_to "Estados de Encomendas", "#" %></li>
  </ul>
</div>


  <%= link_to 'Order History', client_area_order_history_path %>

</div>




