<h1></h1>


<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Encomenda#</th>
      <th>Data</th>
      <th>Total</th>
      <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>19238562</td>
      <td>04/05/2017</td>
      <td>450,00</td>
      <td>Concluido</td>
    </tr>
    <tr>
      <td>19312512</td>
      <td>22/05/2017</td>
      <td>65,00</td>
      <td>Pendente</td>
    </tr>
    <tr>
      <td>18273612</td>
      <td>02/06/2017</td>
      <td>22,50</td>
      <td>Em progresso</td>
    </tr>

    </tbody>
  </table>
</div>