<div class="container">
  <div class="text-center">
    <span class="my-title-h1 text-black">História - Quem somos?</span>
  </div>
</div><!-- /.container -->

<div class="container">
  <div class="text-justify">
    <p class="lead">Em 2006, ano de novas oportunidades e desafios, António Bento Da Costa Ferreira inicia-se por conta própria, criando a empresa <b>Jóia Da Europa</b>, que se dedica inteiramente à fabricação de calçado.</p>
    <p class="lead">Jóia da Europa, é mais um dos casos de sucesso nacional e internacional, isto porque a inovação e a qualidade dos seus produtos é difícil de encontrar. Lentamente, ano após ano, esta empresa tem crescido, e não põe de parte qualquer desafio vindo à sua direcção. <b>Para esta empresa tudo é possível.</b></p>
    <p class="lead">Ao longo destes anos, Jóia da Europa tem feito apostas ao nível de novas tecnologias, tanto em máquinas, como em programas informáticos, o que faz com que exista uma margem bastante reduzida de erro, e permite à empresa dar resposta a todas as propostas que lhe sejam submetidas, nos prazos subordinados.</p>
    <p class="lead">A qualidade dos nossos serviços advém também do valor que têm as matérias – primas seleccionadas para a nossa fabricação. Em todas as épocas, os nossos clientes podem contar com uma colecção completa e diferente.</p></b></p>
    <br>
  </div>
</div><!-- /.container -->

<div class="container">
  <div class="text-center">
    <p class="lead"><b>Se procura qualidade, inovação, transformação, diferenciação de produtos, venha conhecer a nossa empresa, porque aqui encontra tudo o que precisa.</b></p>
  </div>
</div><!-- /.container -->

<img src="<%= asset_path 'h1.png' %>" class="img-responsive center-block">
