<div class="container">
  <div class="text-center">
    <h1>Contactos</h1>
  </div>
</div><!-- /.container -->

<div class="container">
  <div class="text-justify">
    <p class="lead"><b>Morada:</b></p>
    <p class="lead">RUA SANTA MARIA, 437</p>
    <p class="lead">BARROSAS</p>
    <p class="lead">4650-139 IDÃES FLG</p>
    <p class="lead"><b>Telefone: </b>+351 255 312 443 | <b>Fax:</b> +351 255 312 444 </p>
    <p class="lead"><b>E-mail:</b> geral@joiadaeuropa.com</p>
  </div>
</div><!-- /.container -->


[ mapa ...]
[form de contacto]