<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= asset_path 'c2.jpg' %>" alt="">
    </div>
    <div class="item">
      <img src="<%= asset_path 'c3.jpg' %>" alt="">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">

  <div class="text-center">
      <span class="my-title-h1 text-black"><%=t('welcome_title')%></span>
    <p class="lead"><%=t('welcome_text')%></p>
  </div>

</div><!-- /.container -->
