<div class="container">
  <div class="text-center">
    <h1>Missão</h1>
    <p class="lead">Uma empresa não se define pelo nome que tem, define-se pelo esforço e trabalho despendido por todos aqueles que fazem parte dela, os recursos humanos, fornecedores, clientes e todos os outros colaboradores são necessários para o sucesso de qualquer empresa, e Jóia da Europa conta com a ajuda de todos.</p>
  </div>
</div><!-- /.container -->


<div class="container">
  <div class="text-justify">
    <h2>A nossa missão centraliza-se em:</h2>
    <ul class="lead">
      <li>Atender às necessidades de todos os nossos clientes, aperfeiçoando sempre os nossos produtos e serviços.</li>
      <li>Fornecer produtos de tal qualidade que os nossos clientes se sintam satisfeitos, e os nossos empregados e parceiros de negócios se beneficiem com nosso êxito.</li>
      <li>Oferecer soluções para qualquer ideia, contando com a nossa assistência.</li>
      <li>Apostar sempre em tecnologias inovadoras.</li>
    </ul>
  </div>
</div><!-- /.container -->


<img src="<%= asset_path 'm1.png' %>" class="img-responsive center-block">
