<div class="container">
  <div class="text-center">
    <span class="my-title-h1 text-black"><%=t('mission_title')%></span>
  </div>
</div><!-- /.container -->

<div class="container">
  <div class="text-justify">
    <p class="lead"><%=t('mission_text')%></p>
  </div>
</div><!-- /.container -->

<img src="<%= asset_path 'm2.png' %>" class="img-responsive center-block">
