<div class="container marketing">

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Cluster do calçado já vale 2.500 milhões de euros</h3>
          <p class="card-text">É um cluster particularmente dinâmico, extrovertido e a conquistar uma dimensão verdadeiramente internacional. Desde 2010, o cluster do calçado cresceu 49% nos mercados externos. Mas há crescimentos significativos noutros domínios igualmente relevantes.</p>
          <a href="#" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Exportações de calçado crescem 8,9% e somam 535 milhões até março</h3>
          <p class="card-text">As exportações portuguesas de calçado aumentaram 8,9% para 535 milhões de euros no primeiro trimestre face ao mesmo período de 2016, destacando-se os desempenhos em França, Alemanha, Holanda, EUA, Rússia e Angola, divulgou hoje a associação setorial.</p>
          <a href="#" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Para o ministro da Economia, a indústria do calçado é "a mais sexy"</h3>
          <p class="card-text">O ministro da Economia apelou hoje a todos os setores da indústria portuguesa para celebrarem contratos de trabalho que garantam salários iguais para homens e mulheres com as mesmas funções tal como fez recentemente o calçado.</p>
          <a href="#" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>

  </div>