<div class="container">
  <div class="text-center">
    <span class="my-title-h1 text-black"><%=t('partnerships_title')%></span>
  </div>
</div><!-- /.container -->

<div class="container">
  <div class="text-justify">
    <ul>
      <li class="lead"><a href="https://www.fatimalopes.com">Fátima Lopes</a></li>
    </ul>
  </div>
</div><!-- /.container -->