<div class="container">
  <div class="text-center">
    <p class="my-title-h1 text-black"><%=t('partnerships_title')%></p>
  </div>
</div><!-- /.container -->

<ul>
  <li><a href="https://www.fatimalopes.com">Fátima Lopes</a></li>
</ul>

